html {
  background-color: #020346;
  text-align: center;
  width: 100%;
  height: 100%;
} 

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: center;
}

@font-face {
  font-family: 'Gameplay';
  src: url('../assets/fonts/Gameplay.ttf');
}

.header {
  font-family: 'Gameplay';
  color: white;
  margin-bottom: 5rem;
}


.play {
  text-decoration: none;
  color: white;
  font-family: 'Gameplay';
  padding: 1rem 2rem;
  border-radius: 15px;
  background-color: black;
}
.play:hover {
  transition: 500ms;
  color: black;
  background-color: #ff9503;

}